<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="cn_str" value="provider=LCPI.IBProvider.5;user id=GAMER;password=vermut;ctype=win1251;location=inet4://home4/d:\database\ram\IBP_TEST_FB30_D3.GDB;auto_commit=true;dbclient_type=fb.direct;icu_library=icuuc52.dll"/>
  </appSettings>
</configuration>